[submodule "dragon_localization/fast_gicp"]
	path = dragon_localization/fast_gicp
	url = https://github.com/RyuYamamoto/fast_gicp.git
[submodule "dragon_localization/ndt_omp"]
	path = dragon_localization/ndt_omp
	url = git@github.com:RyuYamamoto/ndt_omp.git
[submodule "dragon_sensing/ublox"]
	path = dragon_sensing/ublox
	url = git@github.com:KumarRobotics/ublox.git
[submodule "dragon_sensing/velodyne"]
	path = dragon_sensing/velodyne
	url = git@github.com:TeamDragonTC/velodyne
[submodule "dragon_sensing/rtcm_msgs"]
	path = dragon_sensing/rtcm_msgs
	url = https://github.com/tilk/rtcm_msgs.git
[submodule "dragon_sensing/ess_imu_ros2_uart_driver"]
	path = dragon_sensing/ess_imu_ros2_uart_driver
	url = git@github.com:TeamDragonTC/ess_imu_ros2_uart_driver.git
